.cart-container {
    display: flex;
    justify-content: space-between;
  }
  
  @media only screen and (max-width: 768px) {
    .cart-container {
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 350px) {
    .item-image {
      display: none;
    }
  }

  