
footer {
    background-image: linear-gradient(rgba(19, 13, 1, 0.7), rgba(19, 13, 1, 0.7)), url("https://media.istockphoto.com/id/1412614710/photo/a-multi-generational-african-american-family-enjoying-food-at-their-dinner-table.jpg?s=612x612&w=0&k=20&c=NAekcrS3hlN2J39SPj3j2C-GdCjakU9_dZ7kePdBCKM=");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


